[submodule "dependencies/hlsdk"]
	path = cpp_stubb_example/depedencies/hlsdk
	url = git@github.com:ValveSoftware/halflife.git
[submodule "dependencies/metamod_p"]
	path = cpp_stubb_example/depedencies/metamod_p
	url = git@github.com:jkivilin/metamod-p.git
